<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Target:</strong></span>
      <%= @username %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Kill Date:</strong></span>
      <%= @kill_date.strftime('%H:%M on %m-%d-%Y') if @kill_date %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Killing Blow:</strong></span>
      <%= @kill_user if @kill_user %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Soliders Killed:</strong></span>
      <%= readable_number(@soldiers_killed) if @soldiers_killed %>
    </li>
  </ul>
</div>

<div class="col-md-9">
  <table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
      <tr>
        <td>Attacker</td>
        <td>Attacks</td>
        <td>Defenses</td>
        <td>Soldiers Killed</td>
      </tr>
    </thead>
    <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor[:username] %></td>
        <td class="text-right"><%= contributor[:attacks] %></td>
        <td class="text-right"><%= contributor[:defenses] %></td>
        <td class="text-right"><%= readable_number(contributor[:lost]) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
