<h2>Index</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Attacker</td>
      <td>Defender</td>
      <td>Soldiers</td>
      <td>Money</td>
      <td>Time</td>
    </tr>
  </thead>
  <tbody>
  <% @raids.each do |raid| %>
    <tr>
      <td><%= raid.attacker %></td>
      <td><%= raid.defender %></td>
      <td><%= readable_number(raid.soldiers) %></td>
      <td><%= readable_number(raid.money) %></td>
      <td><%= raid.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
