<table class="table table-striped table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <td>Attacker</td>
      <td>Defender</td>
      <td>Soldiers</td>
      <td>Money</td>
      <td>Time</td>
    </tr>
  </thead>
  <tbody>
  <% @raids.each do |raid| %>
    <tr>
      <td style="<%= player_style(raid.attacker) %>"><%= raid.attacker %></td>
      <td style="<%= player_style(raid.defender) %>"><%= raid.defender %></td>
      <td class="text-right"><%= readable_number(raid.soldiers) %></td>
      <td class="text-right"><%= readable_number(raid.money) %></td>
      <td class="text-right"><%= raid.created_at.strftime('%H:%M on %m-%d-%Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
